<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastrar Pedido</title>

    <!-- Bootstrap -->
    <link href="templates/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="templates/bootstrap/css/style.css" rel="stylesheet">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>
  <body>
  	<!--Barra de navegação e botões-->
     <nav class="navbar navbar-default navbar-fixed-top menu" role="navigation">
      <div class="container-fluid">
        <div class="row">   
			      <!-- Single button -->
          <div class="col-md-1">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
           Adm<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="q?useCase=manterAdm&action=login&redirect=true">Login</a></li>
          <li><a href="q?useCase=manterAdm&action=cadastrar&redirect=true">Cadastrar</a></li>
          <li><a href="q?useCase=manterAdm&action=consultar&redirect=true">Consultar</a></li>
        </ul>
      </div>
      </div>
          <!-- Single button -->
          <div class="col-md-1">
         <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Cliente <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="q?useCase=manterCliente&action=cadastrar&redirect=true">Cadastrar</a></li>
          <li><a href="q?useCase=manterCliente&action=consultar&redirect=true">Consultar</a></li>
          <li><a href="q?useCase=manterCliente&action=listar&redirect=false">Listar Todos</a></li>
          <li><a href="q?useCase=manterCliente&action=categoria&redirect=false&getPagam=true">Busca Por Categoria</a></li>
        </ul>
      </div>
      </div>

      <!-- Single button -->
          <div class="col-md-1">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
           Produto<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="q?useCase=manterProduto&action=cadastrar&redirect=true">Cadastrar</a></li>
          <li><a href="q?useCase=manterProduto&action=consultar&redirect=true">Consultar</a></li>
        </ul>
      </div>
      </div>    

          <!-- Single button -->
          <div class="col-md-1">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Pedido <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="q?useCase=manterPedido&action=listar&redirect=false">Fazer um pedido</a></li>
              </ul>
            </div>
          </div>

            <!-- Single button -->
            <div class="col-md-1 col-md-offset-7">
            <a href="q?useCase=manterAdm&action=sair&redirect=false" class="btn btn-default">Sair</a> 
            </div>

          </div>
          </div>
          </nav>
         
    <!--Barra de navegação e botões * Fim-->  
    
  	${conteudo}<!--Aqui vai o conteudo das outras telas-->
  	
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="templates/bootstrap/js/bootstrap.min.js"></script>
    <script src="templates/bootstrap/js/pedido.js"></script>
  </body>
</html>