<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cadastrar Pedido</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="bootstrap/css/style.css" rel="stylesheet">
  </head>
  <body>
  	<!--Barra de navegação e botões-->
     <nav class="navbar navbar-default navbar-fixed-top menu" role="navigation">
      <div class="container-fluid">
        <div class="row">   

          <!-- Single button -->
          <div class="col-md-1">
         <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Cliente <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="q?useCase=manterCliente&action=cadastrar&redirect=true">Cadastrar</a></li>
          <li><a href="q?useCase=manterCliente&action=login&redirect=true">Login</a></li>
          <li><a href="q?useCase=manterCliente&action=consultar&redirect=true">Consultar</a></li>
          <li><a href="q?useCase=manterCliente&action=listAll&redirect=true">Listar Todos</a></li>
          <li><a href="q?useCase=manterCliente&action=listBySex&redirect=true">Consultar Cliente por Sexo</a></li>
        </ul>
      </div>
      </div>

      <!-- Single button -->
          <div class="col-md-1">
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
           Produto<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="q?useCase=manterProduto&action=cadastrar&redirect=true">Cadastrar</a></li>
          <li><a href="q?useCase=manterProduto&action=consultar&redirect=true">Consultar</a></li>
        </ul>
      </div>
      </div>    

          <!-- Single button -->
          <div class="col-md-1">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Pedido <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Incluir</a></li>
                <li><a href="#">Consultar</a></li>
              </ul>
            </div>
          </div>

            <!-- Single button -->
            <div class="col-md-1 col-md-offset-8">
            <button type="button" class="btn btn-default">Sair</button> 
            </div>

          </div>
          </nav>
          </div>
    <!--Barra de navegação e botões * Fim-->  
    
      
    <!--Container principal -->
    <div class="container">
      <div class="row">

      <div class="col-md-12">
        <div class="form-group">
            <label for="sex" class="col-sm-2 control-label">Cliente</label>
            <div class="col-sm-10">
              <div class="col-xs-2">
              <select class="form-control" id="sex" name="sexo">
                  <option>Masculino</option>
               </select>
             </div>
            </div>
          </div>
      </div>

      <div class="col-md-12">
              <table class="table">
              <tr>
                <td>Nome</td>
                <td>Preço</td>
                <td>
                  <strong>Adicionar</strong>
                </td>
              </tr>
              <!-- $BeginBlock table -->
              <tr>
                <td>${nome}</td>
                <td>${preco}</td>
                <td><a href="q?useCase=manterCliente&action=excluir&redirect=true&pk=${pk}" class="btn btn-success">Add</a></td>
              </tr>
              <!-- $EndBlock table -->
            </table>
      </div>

    </div>
    </div>
  
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>