     
    <!--Container principal -->
    <div class="container">
    <h1>Consultar Cliente</h1>
    
    <!-- Tabela de resultados -->
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Resultados</div>
      <!-- Table -->
      <table class="table">
        <tr>
          <td>Nome</td>
          <td>Idade</td>
          <td>Sexo </td>
          <td>
            <strong>Alterar</strong>
          </td>
          <td>
            <strong>Excluir</strong>
          </td>
        </tr>
        <!-- $BeginBlock table -->
        <tr>
        	<td>${nome}</td>
        	<td>${idade}</td>
        	<td>${sexo}</td>
        	<td>
            	<a href="q?useCase=manterCliente&action=alterar&redirect=true&pk=${pk}&nome=${nome}&idade=${idade}&sexo=${sexo}" class="btn btn-primary">Alterar</a>
          	</td>
          	<td>
            	<a href="q?useCase=manterCliente&action=excluir&redirect=true&pk=${pk}" class="btn btn-danger">Excluir</a>
          	</td>
        </tr>
        <!-- $EndBlock table -->
      </table>
    </div>

    
    </div>