     
    <!--Container principal -->
    <div class="container">
    <h1>Consultar Adm</h1>
    
    <!-- Tabela de resultados -->
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Resultados</div>
      <!-- Table -->
      <table class="table">
        <tr>
          <td>Email</td>
          <td>
            <strong>Alterar</strong>
          </td>
          <td>
            <strong>Excluir</strong>
          </td>
        </tr>
        <!-- $BeginBlock table -->
        <tr>
        	<td>${email}</td>
        	<td>
            	<a href="q?useCase=manterAdm&action=alterar&redirect=true&pk=${pk}&email=${email}" class="btn btn-primary">Alterar</a>
          	</td>
          	<td>
            	<a href="q?useCase=manterAdm&action=excluir&redirect=true&pk=${pk}" class="btn btn-danger">Excluir</a>
          	</td>
        </tr>
        <!-- $EndBlock table -->
      </table>
    </div>

    
    </div>