
    <!--Container principal -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
      <h1>Login</h1>
             <form class="form-horizontal" role="form" method="post" action="q">
              
              	<input type="hidden" name="useCase" value="manterAdm" />
          		<input type="hidden" name="action" value="login" />
          		<input type="hidden" name="redirect" value="false" />
          		
	            <div class="form-group">
	              <label for="email" class="col-sm-2 control-label">Email</label>
	              <div class="col-sm-10">
	              <div class="col-xs-8">
	              <input type="email" class="form-control" id="email" name="email" placeholder="Exemplo@email.com">
	              </div>
	              </div>
	            </div>
	            
	            <div class="form-group">
	              <label for="senha" class="col-sm-2 control-label">Senha</label>
	              <div class="col-sm-10">
	              <div class="col-xs-3">
	              <input type="password" class="form-control" id="senha" name="senha">
	              </div>
	              </div>
	            </div>
	            
	            <div class="form-group">
	                <div class="col-sm-offset-2 col-sm-10">
	                  <div class="col-xs-2">
	                  <button type="submit" class="btn btn-info">Logar</button>
	                </div>
	                </div>
	              </div>
          </form>
         
         </div>
         </div>
         </div>

