
    <!--Container principal -->
    <div class="container">
      <h2>Consulta Cliente por Pedidos</h2>
      <div class="row">
        <div class="col-md-12">
          <form class="navbar-form navbar-left" role="search" method="get" action="q">
          	  <input type="hidden" name="useCase" value="manterCliente" />
	          <input type="hidden" name="action" value="categoria" />
	          <input type="hidden" name="redirect" value="false" />
            <div class="form-group">
            <input type="text" class="form-control" name="search" placeholder="Nome">
            </div>
            <select class="form-control" id="valor" name="valor">
                  <option>50</option>
                  <option>100</option>
                  <option>200</option>
                  <option>300</option>
                  <option>400</option>
                  <option>500</option>
                  <option>1000</option>
                  <option>10000</option>
                  <option>1000000</option>
            </select>
            <br>
            <select class="form-control" id="pagamento" name="pagamento">
                  <!-- $BeginBlock tablePagamento -->
                  <option value="${pkPagamento}">${descricao}</option>
              <!-- $EndBlock tablePagamento  -->
            </select>
            <button type="submit" class="btn btn-default">Consultar</button>
          </form><br></br>             
        </div>
      </div>
      
    <!-- Tabela de resultados -->
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Resultados</div>
      <!-- Table -->
      <table class="table">
        <tr>
          <td>Nome</td>
          <td>Valor</td>
          <td>
            <strong>Alterar</strong>
          </td>
          <td>
            <strong>Excluir</strong>
          </td>
        </tr>
      </table>
    </div>
    </div>