     
    <!--Container principal -->
    <div class="container">
      <h1>Consultar Cliente</h1>
      <div class="row">
        <div class="col-md-12">
          <form class="navbar-form navbar-left" role="search" method="get" action="q">
          	  <input type="hidden" name="useCase" value="manterCliente" />
	          <input type="hidden" name="action" value="consultar" />
	          <input type="hidden" name="redirect" value="false" />
	          
            <div class="form-group">
              <input type="text" class="form-control" name="search" placeholder="Nome, idade">
            </div>
            <button type="submit" class="btn btn-default">Consultar</button>
          </form><br></br>             
        </div>
      </div>
      
    <!-- Tabela de resultados -->
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Resultados</div>
      <!-- Table -->
      <table class="table">
        <tr>
          <td>Nome</td>
          <td>Idade</td>
          <td>Sexo </td>
          <td>
            <strong>Alterar</strong>
          </td>
          <td>
            <strong>Excluir</strong>
          </td>
        </tr>
        <!-- $BeginBlock table -->
        <tr>
        	<td>${nome}</td>
        	<td>${idade}</td>
        	<td>${sexo}</td>
        	<td>
            	<a href="q?useCase=manterCliente&action=alterar&redirect=false&pk=${pk}" class="btn btn-primary">Alterar</a>
          	</td>
          	<td>
            	<a href="q?useCase=manterCliente&action=excluir&redirect=true&pk=${pk}" class="btn btn-danger">Excluir</a>
          	</td>
        </tr>
        <!-- $EndBlock table -->
      </table>
    </div>

    
    </div>