<!--Container principal -->
    <div class="container">
      <h1>Alterar Pedido</h1>
     
    <!-- Tabela de resultados -->
    <div class="panel panel-default" >
      <!-- Default panel contents -->
      <div class="panel-heading">Produtos nesse pedido</div>
      <!-- Table -->
      <table class="table">
        <tr>
          <td>Nome</td>
          <td>Preço</td>
          <td>
            <strong>Retirar</strong>
          </td>
        </tr>
        
         <!-- $BeginBlock table -->
        <tr id="${pkProduto}" >
        	<td>${nome}</td>
        	<td>${preco}</td>
        	<td>
        		<!-- href="q?useCase=manterPedido&action=cadastrar&redirect=false&pkProduto=${pkProduto}&pkCliente=${pkCliente}" -->
            	<button  onclick="remover('${pkProduto}','${pkCliente}','${preco}','${idPedido}')" class="btn btn-warning">Remover</button>
          	</td>
        </tr>
        <!-- $EndBlock table -->
      </table>
      <p></p>
    </div>
    </div>
