<!--Container principal -->
    <div class="container">
      <h1>Adicionar ao carrinho de ${nomeCliente}</h1>
     <div>
      <h3>Valor do pedido </h3> <strong>R$:</strong><strong id="valor">0</strong>
     </div>
     
    <!-- Tabela de resultados -->
    <div class="panel panel-default" >
      <!-- Default panel contents -->
      <div class="panel-heading">Produtos disponíveis</div>
      
      <div class="form-group">
            <label for="sex" class="col-sm-2 control-label">Tipo de pagamento</label>
            <div class="col-sm-10">
              <div class="col-xs-2">
              <select class="form-control" id="pagamento">
              <!-- $BeginBlock tablePagamento -->
                  <option value="${pkPagamento}">${descricao}</option>
              <!-- $EndBlock tablePagamento  -->
               </select>
             </div>
             <button onclick="atualizar('${idPedido}')" class="btn btn-success" >Salvar</button>
            </div>
          </div>
          
          
      <!-- Table -->
      <table class="table">
        <tr>
          <td>Nome</td>
          <td>Preço</td>
          <td>
            <strong>Adicionar</strong>
          </td>
          <td>Status</td>
        </tr>
        
         <!-- $BeginBlock table -->
        <tr>
        	<td>${nome}</td>
        	<td>${preco}</td>
        	<td>
        		<!-- href="q?useCase=manterPedido&action=cadastrar&redirect=false&pkProduto=${pkProduto}&pkCliente=${pkCliente}" -->
            	<button  onclick="cadastrar('${pkProduto}','${pkCliente}','${preco}','${idPedido}')" class="btn btn-primary">Add</button>
          	</td>
          	<td id="${pkProduto}"></td>
        </tr>
        <!-- $EndBlock table -->
      </table>
      <p></p>
    </div>
    </div>
